@import "~antd/dist/antd.css";

#root {
  height: 100%;
}
.TodoWrapper {
  width: 350px;
  margin: 100px auto;
  border: 1px solid #ccc;
  padding: 30px;
}
.todo-footer button {
  margin: 0 10px;
}
.todo-list {
  margin: 30px 0;
  text-align: left;
}
button {
  cursor: pointer;
}
button:disabled {
  background: pink;
}
